@font-face {
    font-family: Norse-Bold;
    src: url(font/Norse-Bold.otf);
  }
  

body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background-image: url(images/bg.png);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Norse-Bold;
}


.right{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;

}

.first{
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
}
.second{
    height: 40vh;
    background-color: white;

}
.third{
    height: 40vh;
}

.form-main-div{
    display: flex;
    flex-direction: row;
}

.form-div{
    
}